[phases.setup]
nixPkgs = ["nodejs-22_x", "npm-10_x"]

[phases.install]
cmds = [
  "npm ci --include=optional",
  "npm install @rollup/rollup-linux-x64-gnu --force",
  "npm install lightningcss-linux-x64-gnu --force"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "npm start"